@charset "UTF-8"; /**Serve para permitir acentuação **/
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20pt;
}
h1{
    color: red;
}
h2{
    color: blue;
}
p{
    text-align: justify;
    text-align: center;
    text-decoration-line: underline;
}