body{
    background-color: black;
    color: white;
    text-align: center;
    font: arial 1000pt bold;
    align-items: center;
#imagens1{
    align-items: center;
}
#imagens2{
    align-items: center;
}
}